/* style for banner slider--------------------------- */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 100vh; */
}

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* --------------------------------------------------- */





.navBg {
  /* background-image: linear-gradient(to right, #10b3c9, #3b82f6); */

  /* background-color: #111827; */
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navBg ul li {
  color: black;
}

.navBg .active {
  color: #3a83f5;
}

.navBg .fa-bars {
  color: black;
}

.hiddenText {
  height: auto;
}

.bg {
  background-color: rgb(184, 239, 253);
  width: 80%;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  padding: 40px 5px;
}

.home-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}


